* {
  box-sizing: border-box;
}

input::-ms-input-placeholder {color:#a78ea7;}
input::-webkit-input-placeholder {color:#a78ea7;}
input::-moz-input-placeholder {color:#a78ea7;}

body {
  margin: 0;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 20px;
  height: 60px;
}

.navbar a {
  display: flex;
  flex-basis: 35%;
  align-items: center;
}

.navbar .search_bar {
  display: flex;
  flex-basis: 30%;
  height: 36px;
  width: 280px;
  padding: 0 12px;
  background-color: #efefef;
  border-radius: 8px;
  align-items: center;
}

.navbar .search_bar i.fa-solid {
  font-size: 18px;
  margin-left: 10px;
}

.navbar .search_bar input {
  font-size: 17px;
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: #efefef;
}

.navbar .menu_icons {
  display: flex;
  flex-basis: 35%;
  justify-content: flex-end;
}

.navbar .menu_icons i {
  font-size: 24px;
  margin-right: 22px;
}

.navbar .menu_icons img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
}
